.item-character {
  display: grid;
  background: $grey-light;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__info {
    padding: 20px;
    background: $grey-light;
    h2 {
      font-size: 17px;
      text-align: center;
    }
  }



}