// colors

$red: #f23504e0;
$red2: #cb2027;
$red3: #a12323;
$red-light: #ff7171;

$blue-dark: #1c0378;
$blue-dark2: #2b0ba0;

$black-opacity: #000000c7;
$black: #000000;

$white: #ffffff;
$grey-light: #fafafa;